// Specific CSS for your home-page

body {
  background-image: asset-url('cocktail_unsplash.jpg'),linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) ); /* W3C */
  background-size: cover;
  padding: 80px;
  color: white;
  text-align: center;
}

ul {
  padding: 0 0 5px 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.button {
  padding: 10px;
  margin-top: 30px;
}

.wrapper {
  margin-top: 20px;
  width: 85vw;
}

.container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
